/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  text-transform: none;
  color: #2c2c53;
  background-color: #ffffff;
}

li {
  list-style: none;
}

/* ここからCSS */
/* ====================================================================================================== */
/*-- Navigation --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,1)!important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-brand  img{
  height: 4rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #6e4242;
}


.top-wrapper h1 {
  padding-left: 80px;
  padding-top: 30px;
  font-size: 30px;
  color:  #2c2c53;
}

.contents {
  padding: 50px 80px;
  height: 500px;
}

.section h3 {
  font-size: 22px;
  font-weight: 150;
  border-bottom: 2px #dee7ec;
  margin-bottom: 15px;
}

.section p {
  font-size: 14px;
  padding-bottom: 50px;
  font-weight: 200;
}

.header-list li {
  background-color: #fbc8b0;
  padding: 5px 10px 5px 10px;
  margin: 30px 5px ;

}

.copyright {
  color: #2c2c53;
}